#ContentHeader
{
    width: 80%; 
    margin: 0 auto;
}

.article p
{
    text-indent: 2em;
}

.MoodboardGrid 
{
  display: grid;
  grid-template-columns: 1fr repeat(5, 1fr); /* Genre + 5 artists */
  gap: 10px;
  margin-top: 1rem;
}

.Genre 
{
  font-weight: bold;
  color: #CCCCCC;
  background-color: black;
  padding: 8px;
  border-radius: 4px;
}

.Artist 
{
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.MusicIcons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 16px;
  margin-top: 1rem;
}

.MusicItem {
  border: 1px solid black;
  padding: 8px;
  border-radius: 6px;
  text-align: center;
  background-color: #f9f9f9;
}

.MusicItem img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.MusicItem figcaption {
  margin-top: 6px;
  font-size: 0.9rem;
  color: #333;
}


#MusicExperience
{
    width: 100%; 
}

#FluteExperience
{
    display: none;
}

#PianoExperience
{
    display: none;
}

#GuitarExperience
{
    display: none;
}

#DrumsExperience
{
    display: none;
}

#FLStudioExperience
{
    display: none;
}

#AudioVideoEmbed table
{
    width: 100%; 
    border-collapse: collapse; 
    table-layout: fixed;
}

#AudioVideoEmbed table tr
{   
    width: 100%;
}

#AudioVideoEmbed table tr td
{
    border: 1px solid black;
}

.Spotify iframe
{
    border-radius:12px;
}


.GenreSelection td
{
    width: 20%;
}

.GenreSelection button
{
    width: 100%; 
    margin: 0; 
    padding: 0;
}

#DefaultMessage
{
    text-align: Center;
    font-style: italic;
    display: contents;
}

#MetalPlaylist
{
    display: none;
}

#DubstepPlaylist
{
    display: none;
}

#AlternativePlaylist
{
    display: none;
}

#RockPlaylist
{
    display: none;
}

#FolkPlaylist
{
    display: none;
}







